
<div class="modal fade" id="input_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form id="outId" method="post">
      <div   class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ml-auto text-warning" id="exampleModalLabel">Update Input </h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
         
        </div>
        <div class="modal-body">
         <div id="input_edit"></div>

       
         
          <div class="row bg-dark py-2">
        
            <div class="col-12 ">
              <label class="text-info" for="rate">Input</label>
            <input type="text" name="total" placeholder="total" class="input-group input-group-sm">
            </div>
            
         
          </div>
        

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark px-4">SUBMIT</button>
        </div>
      </div>
    </form>
    </div>
  </div>